/* @theme emberconf */

@import-theme 'default';

:root {
 --rgb-primary:35,26,58;
 --rgb-black:35,26,58;
 --rgb-secondary:255,248,239;
 --rgb-blue:107,171,184;
 --rgb-purple:153,139,184;
 --rgb-ember:207,73,46;
 --rgb-green:140,175,90;
 --c-primary:rgb(17, 11, 34);
 --c-primary-dark:rgb(6, 3, 14);
 --c-black:rgb(17, 11, 34);
 --c-secondary:rgb(255, 250, 245);
 --c-white:rgb(255, 250, 245);
 --c-white-pure:rgb(255, 255, 255);
 --c-paragraph:rgb(209, 201, 224);
 --c-paragraph-light:rgb(233, 227, 243);
 --c-primary-light:rgb(33, 26, 51);
 --c-gray-dark:rgb(33, 26, 51);
 --c-gray:rgb(101, 103, 130);
 --c-gray-light:rgb(226, 220, 211);
 --c-silver:rgb(159, 161, 167);
 --c-diamond:rgb(147, 157, 196);
 --c-gold:rgb(231, 170, 78);
 --c-bronze:rgb(199, 145, 124);
 --c-copper:rgb(209, 164, 159);
 --c-ember-dark:rgb(207, 73, 46);
 --c-ember:rgb(225, 93, 68);
 --c-pink-dark:rgb(150, 63, 82);
 --c-pink:rgb(213, 106, 129);
 --c-pink-light:rgb(221, 113, 136);
 --c-orange:rgb(247, 165, 89);
 --c-orange-light:rgb(243, 172, 106);
 --c-orange-xlight:rgb(242, 193, 170);
 --c-yellow:rgb(245, 203, 97);
 --c-yellow-light:rgb(255, 215, 113);
 --c-eggshell:rgb(231, 195, 133);
 --c-eggshell-light:rgb(245, 226, 194);
 --c-green-dark:rgb(123, 148, 116);
 --c-green:rgb(140, 175, 90);
 --c-green-light:rgb(148, 185, 95);
 --c-green-xlight:rgb(224, 226, 217);
 --c-blue-dark:rgb(81, 140, 151);
 --c-blue:rgb(107, 171, 184);
 --c-blue-light:rgb(111, 173, 185);
 --c-purple:rgb(153, 139, 184);
 --c-purple-light:rgb(162, 147, 192);
 --c-secondary-paragraph:rgb(77, 75, 73);
}

section {
  background: rgb(255, 252, 249);
}

h1, h2, h3, h4, h5 {
  color: rgb(207, 73, 46);
}

h6 {
  font-size: 0.8em;
  color: rgb(101, 103, 130);
}
